# CODEOWNERS

/shared/              @aalejandrozuleta
/services/            @aalejandrozuleta
/docker/              @aalejandrozuleta
/scripts/             @aalejandrozuleta
/.github/             @aalejandrozuleta
