# =========================
# Node
# =========================
node_modules
**/node_modules
dist
**/dist
coverage
**/coverage

# =========================
# Logs
# =========================
*.log
npm-debug.log*
pnpm-debug.log*

# =========================
# Git
# =========================
.git
.gitignore
.github

# =========================
# Editor
# =========================
.vscode
.idea
.DS_Store

# =========================
# Secrets
# =========================
.env
.env.*
*.pem
*.key

# =========================
# Docs
# =========================
docs
README.md
*.md

# =========================
# Docker
# =========================
docker-compose*.yml