NODE_ENV=development
PORT=3003

# Redis (BullMQ)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Resend
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxx
RESEND_FROM_EMAIL=noreply@tudominio.com

# Cola email: 5 reintentos con backoff exponencial empezando en 5s
EMAIL_QUEUE_ATTEMPTS=5
EMAIL_QUEUE_BACKOFF_DELAY=5000

# Cola WebSocket: 3 reintentos con backoff exponencial empezando en 2s
WS_QUEUE_ATTEMPTS=3
WS_QUEUE_BACKOFF_DELAY=2000
