auth_enabled: false

server:
  http_listen_port: 3100

common:
  path_prefix: /loki

  ring:
    kvstore:
      store: inmemory

storage_config:
  filesystem:
    directory: /loki/chunks

schema_config:
  configs:
    - from: 2024-01-01
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

limits_config:
  retention_period: 168h

analytics:
  reporting_enabled: false
